# Tobigs 22Í∏∞ 3Ï£ºÏ∞® Ï†ïÍ∑úÏÑ∏ÏÖò Ensemble Í≥ºÏ†ú

# Í≥ºÏ†ú1. High variance/bias

Í∞úÎÖêÏ∞∏Ï°∞ÏòÅÏÉÅ : https://www.youtube.com/watch?v=EuBBz3bI-aA

## Q1. High varianceÏùò Ï†ïÏùò Î∞è Î¨∏Ï†úÏ†êÏóê ÎåÄÌï¥ ÏÑ§Î™ÖÌï¥Ï£ºÏÑ∏Ïöî.

üêª‚Äç‚ùÑÔ∏è

varianceÎäî Îç∞Ïù¥ÌÑ∞Îì§Ïù¥ ÌçºÏ†∏ÏûàÎäî Ï†ïÎèÑÎ•º ÏùòÎØ∏Ìï©ÎãàÎã§. Î®∏Ïã†Îü¨Îãù Í¥ÄÏ†êÏóêÏÑú, high varianceÎäî Îß§Ïö∞ Î≥µÏû°Ìïú Î™®Îç∏Î°ú, ÌõàÎ†®Îç∞Ïù¥ÌÑ∞Ïùò ÌäπÏ†ï ÎÖ∏Ïù¥Ï¶àÎÇò ÏÇ¨ÏÜåÌïú Í≤ΩÌñ•ÏùÑ Ìè¨Ï∞©Ìï† Ïàò ÏûàÏßÄÎßå ÏùºÎ∞òÌôî ÏÑ±Îä•Ïù¥ Îñ®Ïñ¥ÏßëÎãàÎã§.

## Q2. High biasÏùò Ï†ïÏùò Î∞è Î¨∏Ï†úÏ†êÏóê ÎåÄÌï¥ ÏÑ§Î™ÖÌï¥Ï£ºÏÑ∏Ïöî.

üêª‚Äç‚ùÑÔ∏è

biasÎäî Ï∂îÏ†ï Í≤∞Í≥ºÍ∞Ä ÌïúÏ™ΩÏúºÎ°ú ÏπòÏö∞ÏπòÎäî Í≤ΩÌñ•ÏùÑ Î≥¥ÏûÑÏúºÎ°úÏç® Î∞úÏÉùÌïòÎäî Ïò§Ï∞®ÏûÖÎãàÎã§. Î®∏Ïã†Îü¨Îãù Í¥ÄÏ†êÏóêÏÑú, high biasÎäî Î™®Îç∏ÏùÑ ÏßÄÎÇòÏπòÍ≤å Îã®ÏàúÌôîÌïòÏó¨ ÌïôÏäµÎç∞Ïù¥ÌÑ∞Ïùò Ï£ºÏöî Ìå®ÌÑ¥ÏùÑ Ï∂©Î∂ÑÌûà ÌïôÏäµÌïòÏßÄ Î™ªÌïòÍ≤å Îê©ÎãàÎã§.

## Q3. High variance ÏôÄ high biasÎ•º Îã§Î£∞Îïå Ï†ÅÌï©Ìïú ensemble Î∞©ÏãùÍ≥º Í∑∏ Ïù¥Ïú†Î•º Ï†ÅÏñ¥Ï£ºÏÑ∏Ïöî.

- High variance problem : üêª‚Äç‚ùÑÔ∏è Î∞∞ÍπÖ

high varianceÎäî Ï£ºÎ°ú Í≥ºÏ†ÅÌï© Î¨∏Ï†úÎ•º ÏïºÍ∏∞ÌïòÍ∏∞ ÎïåÎ¨∏Ïóê Ïó¨Îü¨ Î™®Îç∏ÏùÑ ÏÑúÎ°ú Îã§Î•∏ ÏÉòÌîåÎ°ú ÌïôÏäµÏãúÏºú ÌèâÍ∑†ÌôîÌïòÎäî Î∞∞ÍπÖ Î∞©ÏãùÏù¥ Ìö®Í≥ºÏ†ÅÏûÖÎãàÎã§. Ïù¥Îäî Î™®Îç∏Ïù¥ Îç∞Ïù¥ÌÑ∞Ïùò ÌäπÏ†ï Ìå®ÌÑ¥Ïóê Í≥ºÎèÑÌïòÍ≤å ÎßûÏ∂∞ÏßÄÏßÄ ÏïäÎèÑÎ°ù ÌïòÍ≥†, ÏùºÎ∞òÌôî ÏÑ±Îä•ÏùÑ Í∞úÏÑ†ÏãúÌÇ¨ Í≤ÉÏûÖÎãàÎã§.

- High bias problem : üêª‚Äç‚ùÑÔ∏è Î∂ÄÏä§ÌåÖ

high biasÎäî Ï£ºÎ°ú Í≥ºÏÜåÏ†ÅÌï© Î¨∏Ï†úÎ•º ÏïºÍ∏∞ÌïòÍ∏∞ ÎïåÎ¨∏Ïóê, Ïó¨Îü¨ weak learnersÎ•º ÏàúÏ∞®Ï†ÅÏúºÎ°ú ÌïôÏäµÏãúÏºú Ï†êÏ†ê Îçî Î≥µÏû°Ìïú Ìå®ÌÑ¥ÏùÑ ÌïôÏäµÌïòÎäî Î∞©Î≤ïÏù¥ Ìö®Í≥ºÏ†ÅÏùº Í≤ÉÏûÖÎãàÎã§.

# Í≥ºÏ†ú2. Ensemble Ïã§Ïäµ

Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò: https://www.kaggle.com/sakshigoyal7/credit-card-customers

## Î™©Ìëú : ÏùÄÌñâ Ïã†Ïö© Ïπ¥Îìú ÏÑúÎπÑÏä§ Ïù¥ÌÉà Í≥†Í∞ù ÏòàÏ∏° Î™®Îç∏ ÎßåÎì§Í∏∞!

### ÏπºÎüº ÏÑ§Î™Ö
```
[features]
 - Customer_Age : Í≥†Í∞ùÏùò ÎÇòÏù¥
 - Gender : ÏÑ±Î≥Ñ (M=Male, F=Female)
 - Dependent_count : Î∂ÄÏñëÌïòÎäî Í∞ÄÏ°±Ïùò Ïàò
 - Education_Level : Í≥†Í∞ùÏùò ÏµúÏ¢Ö ÌïôÎ†• (example: high school, college graduate, etc.)
 - Marital_Status : Í≤∞Ìòº ÏÉÅÌÉú (Married, Single, Divorced, Unknown)
 - Income_Category : ÏÜåÎìù Î≤îÏ£º (< $40K, $40K - 60K, $60K - $80K, $80K-$120K, etc.)
 - Card_Category : Ïπ¥Îìú Ï¢ÖÎ•ò (Blue, Silver, Gold, Platinum)
 - Months_on_book : ÏùÄÌñâÍ≥ºÏùò Í¥ÄÍ≥Ñ Í∏∞Í∞Ñ (Í∞úÏõî Ïàò)
 - Total_Relationship_Count : Í≥†Í∞ùÏù¥ Î≥¥Ïú†Ìïú Ï†ÑÏ≤¥ Ï†úÌíà Ïàò
 - Months_Inactive_12_mon : ÏµúÍ∑º 12Í∞úÏõî ÎèôÏïà ÎπÑÌôúÏÑ±ÌôîÎêú Í∞úÏõî Ïàò
 - Contacts_Count_12_mon : ÏµúÍ∑º 12Í∞úÏõî ÎèôÏïàÏùò Ïó∞ÎùΩ ÌöüÏàò
 - Credit_Limit : Ïã†Ïö© Ïπ¥ÎìúÏùò Ïã†Ïö© ÌïúÎèÑ
 - Total_Revolving_Bal : Ïã†Ïö© Ïπ¥ÎìúÏùò Ï¥ù ÌöåÏ†Ñ ÏûîÏï°
 - Avg_Open_To_Buy : Íµ¨Îß§ Í∞ÄÎä• Ïã†Ïö© ÌïúÎèÑ (ÏµúÍ∑º 12Í∞úÏõî ÌèâÍ∑†)
 - Total_Amt_Chng_Q4_Q1 : Í±∞Îûò Í∏àÏï° Î≥ÄÌôîÏú® (4Î∂ÑÍ∏∞ ÎåÄÎπÑ 1Î∂ÑÍ∏∞)
 - Total_Trans_Amt :  Ï¥ù Í±∞Îûò Í∏àÏï° (ÏßÄÎÇú 12Í∞úÏõî)
 - Total_Trans_Ct : Ï¥ù Í±∞Îûò ÌöüÏàò (ÏßÄÎÇú 12Í∞úÏõî)
 - Total_Ct_Chng_Q4_Q1 : Í±∞Îûò ÌöüÏàò Î≥ÄÌôîÏú® (4Î∂ÑÍ∏∞ ÎåÄÎπÑ 1Î∂ÑÍ∏∞)
 - Avg_Utilization_Ratio : ÌèâÍ∑† Ïπ¥Îìú Ïù¥Ïö© ÎπÑÏú®

[target]
 - Attrition_Flag : Í≥†Í∞ù ÌôúÎèô Î≥ÄÏàò / Existing Customer - 0, Attrited Customer - 1

```

In [52]:
import pandas as pd

# üêª‚Äç‚ùÑÔ∏èÎç∞Ïù¥ÌÑ∞Ïùò Í≤ΩÎ°úÎäî Î≥ÄÍ≤ΩÌï¥Ï£ºÏÑ∏Ïöî
df = pd.read_csv('/content/BankChurners.csv')

# Feature 21 & 22Ïùò Í≤ΩÏö∞ Îç∞Ïù¥ÌÑ∞ ÏÖãÏóêÏÑú ÏÇ≠Ï†úÌïòÎäî Í≤ÉÏùÑ Ï∂îÏ≤úÌïòÎäî Î¨∏Íµ¨ Î∞úÍ≤¨, ÏÇ≠Ï†ú
# Í∞úÏù∏Ï†ÅÏúºÎ°ú 0Ïó¥ÎèÑ ÏÇ≠Ï†úÌïòÏòÄÏäµÎãàÎã§
print(len(df.columns))
df.drop(df.columns[[0, 21, 22]], axis = 1, inplace = True) # inplace = True Îç∞Ïù¥ÌÑ∞ ÏõêÎ≥∏ÏóêÏÑú Ï≤òÎ¶¨ not copy
print(len(df.columns))

23
20

In [53]:
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  object
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  object
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  object
 5   Marital_Status            10127 non-null  object
 6   Income_Category           10127 non-null  object
 7   Card_Category             10127 non-null  object
 8   Months_on_book            10127 non-null  int64
 9   Total_Relationship_Count  10127 non-null  int64
 10  Months_Inactive_12_mon    10127 non-null  int64
 11  Contacts_Count_12_mon     10127 non-null  int64
 12  Credit_Limit              10127 non-null  float64
 13  Total_Revolving_Bal       10127 non-null  int64
 14  Avg_Open_To_Buy           10127 non-null  float64
 15  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 16  Total_Trans_Amt           10127 non-null  int64
 17  Total_Trans_Ct            10127 non-null  int64
 18  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 19  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(9), object(6)
memory usage: 1.5+ MB

## EDA & Preprocessing

EDAÎ•º ÌÜµÌï¥ Ïù∏ÏÇ¨Ïù¥Ìä∏Î•º ÏñªÍ≥† Ï†ÑÏ≤òÎ¶¨Î•º ÏßÑÌñâÌï¥Ï£ºÏÑ∏Ïöî.

In [55]:
#ÏàòÏπòÌòï Î≥ÄÏàòÎ°ú Î≥ÄÍ≤Ω
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

object_columns = ['Attrition_Flag', 'Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category']
for column in object_columns:
  df[column] = le.fit_transform(df[column])

df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,1,45,1,3,3,1,2,0,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,1,49,0,5,2,2,4,0,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,1,51,1,3,2,1,3,0,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,1,40,0,4,3,3,4,0,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,1,40,1,3,5,1,2,0,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [56]:
#Ïù¥ÏÉÅÏπòÏ†úÍ±∞
col = list(df.columns)
Q1 = df[col].quantile(0.25)
Q3 = df[col].quantile(0.75)
IQR = Q3 - Q1

df = df[~((df[col]<(Q1-2*IQR)) | (df[col]>(Q3+2*IQR))).any(axis=1)]

In [57]:
#Îç∞Ïù¥ÌÑ∞Î∂ÑÌï†


from sklearn.model_selection import train_test_split

X = df.iloc[:, 1:]
y = df.iloc[:,0]

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4641, 19)
(1990, 19)
(4641,)
(1990,)

## Modeling

Îã§Ïùå 4Í∞ÄÏßÄ Î™®Îç∏Ïùò ÏÑ±Îä•ÏùÑ ÎπÑÍµêÌï¥Ï£ºÏÑ∏Ïöî.
- Decision Tree
- Random Forest
- Adaboost
- Gradientboosting
- Ïù¥Ïô∏ Îã§Î•∏ ensemble Î™®Îç∏ÏùÑ ÏÇ¨Ïö©ÌïòÏÖîÎèÑ Îê©ÎãàÎã§!

In [58]:
from sklearn.metrics import accuracy_score

In [59]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(criterion = 'entropy')
tree.fit(X_train, y_train)

y_pred = tree.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0

In [60]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier(n_estimators = 20, max_depth = 5, random_state = 42)
rf_clf.fit(X_train, y_train)

y_pred = rf_clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0

In [61]:
#Adaboost
from sklearn.ensemble import AdaBoostClassifier

ab_clf = AdaBoostClassifier(n_estimators = 100, random_state = 42)
ab_clf.fit(X_train, y_train)
y_pred = ab_clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0

In [62]:
#decision tree Í∏∞Î∞òÏùò adaboost

tree_model = DecisionTreeClassifier(max_depth=5)
clf = AdaBoostClassifier(base_estimator = tree_model, n_estimators=10, random_state=42)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:156: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

In [63]:
#Gradientboosting

from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(loss = 'squared_error', n_estimators = 5, max_depth = 2, random_state = 42)
gbr.fit(X_train, y_train)
y_pred = gbr.predict(X_test)
print(accuracy_score(y_test, y_pred))

1.0