# Tobigs 22ê¸° 3ì£¼ì°¨ ì •ê·œì„¸ì…˜ Ensemble ê³¼ì œ

# ê³¼ì œ1. High variance/bias

ê°œë…ì°¸ì¡°ì˜ìƒ : https://www.youtube.com/watch?v=EuBBz3bI-aA

## Q1. High varianceì˜ ì •ì˜ ë° ë¬¸ì œì ì— ëŒ€í•´ ì„¤ëª…í•´ì£¼ì„¸ìš”.

ğŸ»â€â„ï¸ ì •ì˜ : ëª¨ë¸ì´ í›ˆë ¨ ë°ì´í„°ì— ëŒ€í•œ í•™ìŠµì´ ì§€ë‚˜ì¹˜ê²Œ ì •í™•í•˜ì—¬, í›ˆë ¨ ë°ì´í„°ì˜ íŠ¹ì • ìƒ˜í”Œì— ì§€ë‚˜ì¹˜ê²Œ ë§ì¶”ì–´ì ¸ ìˆìŠµë‹ˆë‹¤. ì´ë¡œ ì¸í•´, ëª¨ë¸ì´ ìƒˆë¡œìš´ ë°ì´í„°ì— ëŒ€í•´ ì¼ë°˜í™” ëŠ¥ë ¥ì´ ë–¨ì–´ì§‘ë‹ˆë‹¤.

ë¬¸ì œì  : ê³¼ì í•©, ì¼ë°˜í™” ëŠ¥ë ¥ ë¶€ì¡±, ëª¨ë¸ì˜ ë³µì¡ì„± ì¦ê°€

## Q2. High biasì˜ ì •ì˜ ë° ë¬¸ì œì ì— ëŒ€í•´ ì„¤ëª…í•´ì£¼ì„¸ìš”.

ğŸ»â€â„ï¸ ì •ì˜ : ëª¨ë¸ì´ í›ˆë ¨ ë°ì´í„°ì˜ íŒ¨í„´ì„ ì¶©ë¶„íˆ í•™ìŠµí•˜ì§€ ëª»í•˜ê³ , ì‹¤ì œ ë°ì´í„°ì˜ ê´€ê³„ë¥¼ ë‹¨ìˆœí™”í•˜ì—¬ ì˜ëª»ëœ ì˜ˆì¸¡ì„ í•˜ê²Œ ë˜ëŠ” ìƒíƒœë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤. ì´ëŠ” ëª¨ë¸ì´ ë°ì´í„°ì˜ ì¤‘ìš”í•œ ì •ë³´ë¥¼ ë†“ì¹˜ê³ , ì˜ˆì¸¡ ì„±ëŠ¥ì´ ë‚®ì•„ì§€ëŠ” ê²°ê³¼ë¥¼ ì´ˆë˜í•©ë‹ˆë‹¤.

ë¬¸ì œì  : ê³¼ì†Œì í•©, ëª¨ë¸ì˜ ë‹¨ìˆœí™”, ë‚®ì€ ì˜ˆì¸¡ ì„±ëŠ¥

## Q3. High variance ì™€ high biasë¥¼ ë‹¤ë£°ë•Œ ì í•©í•œ ensemble ë°©ì‹ê³¼ ê·¸ ì´ìœ ë¥¼ ì ì–´ì£¼ì„¸ìš”.

- High variance problem : ğŸ»â€â„ï¸ ë°°ê¹…ì„ ì‚¬ìš©í•˜ë©´, ì—¬ëŸ¬ ëª¨ë¸ì˜ ì˜ˆì¸¡ì„ ê²°í•©í•˜ì—¬ ëª¨ë¸ì˜ ë¶„ì‚°ì„ ì¤„ì´ê³  ì¼ë°˜í™” ì„±ëŠ¥ì„ í–¥ìƒì‹œí‚¬ ìˆ˜ ìˆìŒ

- High bias problem : ğŸ»â€â„ï¸ ë¶€ìŠ¤íŒ…ì„ ì‚¬ìš©í•˜ë©´, ëª¨ë¸ì´ ì ì§„ì ìœ¼ë¡œ ë°ì´í„°ë¥¼ í•™ìŠµí•˜ì—¬ ë°ì´í„°ì˜ ë³µì¡í•œ íŒ¨í„´ì„ í¬ì°©í•˜ê³  ëª¨ë¸ì˜ í¸í–¥ì„ ì¤„ì¼ ìˆ˜ ìˆìŒ

# ê³¼ì œ2. Ensemble ì‹¤ìŠµ

ë°ì´í„° ì¶œì²˜: https://www.kaggle.com/sakshigoyal7/credit-card-customers

## ëª©í‘œ : ì€í–‰ ì‹ ìš© ì¹´ë“œ ì„œë¹„ìŠ¤ ì´íƒˆ ê³ ê° ì˜ˆì¸¡ ëª¨ë¸ ë§Œë“¤ê¸°!

### ì¹¼ëŸ¼ ì„¤ëª…
```
[features]
 - Customer_Age : ê³ ê°ì˜ ë‚˜ì´
 - Gender : ì„±ë³„ (M=Male, F=Female)
 - Dependent_count : ë¶€ì–‘í•˜ëŠ” ê°€ì¡±ì˜ ìˆ˜
 - Education_Level : ê³ ê°ì˜ ìµœì¢… í•™ë ¥ (example: high school, college graduate, etc.)
 - Marital_Status : ê²°í˜¼ ìƒíƒœ (Married, Single, Divorced, Unknown)
 - Income_Category : ì†Œë“ ë²”ì£¼ (< $40K, $40K - 60K, $60K - $80K, $80K-$120K, etc.)
 - Card_Category : ì¹´ë“œ ì¢…ë¥˜ (Blue, Silver, Gold, Platinum)
 - Months_on_book : ì€í–‰ê³¼ì˜ ê´€ê³„ ê¸°ê°„ (ê°œì›” ìˆ˜)
 - Total_Relationship_Count : ê³ ê°ì´ ë³´ìœ í•œ ì „ì²´ ì œí’ˆ ìˆ˜
 - Months_Inactive_12_mon : ìµœê·¼ 12ê°œì›” ë™ì•ˆ ë¹„í™œì„±í™”ëœ ê°œì›” ìˆ˜
 - Contacts_Count_12_mon : ìµœê·¼ 12ê°œì›” ë™ì•ˆì˜ ì—°ë½ íšŸìˆ˜
 - Credit_Limit : ì‹ ìš© ì¹´ë“œì˜ ì‹ ìš© í•œë„
 - Total_Revolving_Bal : ì‹ ìš© ì¹´ë“œì˜ ì´ íšŒì „ ì”ì•¡
 - Avg_Open_To_Buy : êµ¬ë§¤ ê°€ëŠ¥ ì‹ ìš© í•œë„ (ìµœê·¼ 12ê°œì›” í‰ê· )
 - Total_Amt_Chng_Q4_Q1 : ê±°ë˜ ê¸ˆì•¡ ë³€í™”ìœ¨ (4ë¶„ê¸° ëŒ€ë¹„ 1ë¶„ê¸°)
 - Total_Trans_Amt :  ì´ ê±°ë˜ ê¸ˆì•¡ (ì§€ë‚œ 12ê°œì›”)
 - Total_Trans_Ct : ì´ ê±°ë˜ íšŸìˆ˜ (ì§€ë‚œ 12ê°œì›”)
 - Total_Ct_Chng_Q4_Q1 : ê±°ë˜ íšŸìˆ˜ ë³€í™”ìœ¨ (4ë¶„ê¸° ëŒ€ë¹„ 1ë¶„ê¸°)
 - Avg_Utilization_Ratio : í‰ê·  ì¹´ë“œ ì´ìš© ë¹„ìœ¨

[target]
 - Attrition_Flag : ê³ ê° í™œë™ ë³€ìˆ˜ / Existing Customer - 0, Attrited Customer - 1

```

In [1]:
import pandas as pd

# ğŸ»â€â„ï¸ë°ì´í„°ì˜ ê²½ë¡œëŠ” ë³€ê²½í•´ì£¼ì„¸ìš”
df = pd.read_csv('/content/BankChurners.csv')

# Feature 21 & 22ì˜ ê²½ìš° ë°ì´í„° ì…‹ì—ì„œ ì‚­ì œí•˜ëŠ” ê²ƒì„ ì¶”ì²œí•˜ëŠ” ë¬¸êµ¬ ë°œê²¬, ì‚­ì œ
print(len(df.columns))
df.drop(df.columns[[21, 22]], axis = 1, inplace = True) # inplace = True ë°ì´í„° ì›ë³¸ì—ì„œ ì²˜ë¦¬ not copy
print(len(df.columns))

23
21

In [2]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  object
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  object
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  object
 6   Marital_Status            10127 non-null  object
 7   Income_Category           10127 non-null  object
 8   Card_Category             10127 non-null  object
 9   Months_on_book            10127 non-null  int64
 10  Total_Relationship_Count  10127 non-null  int64
 11  Months_Inactive_12_mon    10127 non-null  int64
 12  Contacts_Count_12_mon     10127 non-null  int64
 13  Credit_Limit              10127 non-null  float64
 14  Total_Revolving_Bal       10127 non-null  int64
 15  Avg_Open_To_Buy           10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 17  Total_Trans_Amt           10127 non-null  int64
 18  Total_Trans_Ct            10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 20  Avg_Utilization_Ratio     10127 non-null  float64
dtypes: float64(5), int64(10), object(6)
memory usage: 1.6+ MB

## EDA & Preprocessing

EDAë¥¼ í†µí•´ ì¸ì‚¬ì´íŠ¸ë¥¼ ì–»ê³  ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”.

In [7]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

label_encoders = {}
for column in df.select_dtypes(include=['object']).columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le

In [8]:
# íŠ¹ì„± ë° íƒ€ê²Ÿ ë³€ìˆ˜ ë¶„ë¦¬
X = df.drop('Attrition_Flag', axis=1)
y = df['Attrition_Flag']

# ë°ì´í„° ë¶„í• 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [9]:
# ë°ì´í„° ìŠ¤ì¼€ì¼ë§
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

## Modeling

ë‹¤ìŒ 4ê°€ì§€ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ ë¹„êµí•´ì£¼ì„¸ìš”.
- Decision Tree
- Random Forest
- Adaboost
- Gradientboosting
- ì´ì™¸ ë‹¤ë¥¸ ensemble ëª¨ë¸ì„ ì‚¬ìš©í•˜ì…”ë„ ë©ë‹ˆë‹¤!

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score

# ëª¨ë¸ ì´ˆê¸°í™”
models = {
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'AdaBoost': AdaBoostClassifier(),
    'Gradient Boosting': GradientBoostingClassifier()
}

# ëª¨ë¸ í›ˆë ¨ ë° ì„±ëŠ¥ í‰ê°€
results = {}
for name, model in models.items():
    # ëª¨ë¸ í›ˆë ¨
    model.fit(X_train, y_train)

    # ì˜ˆì¸¡
    y_pred = model.predict(X_test)

    # ì •í™•ë„ í‰ê°€
    accuracy = accuracy_score(y_test, y_pred)
    results[name] = accuracy

In [11]:
# ê²°ê³¼ ì¶œë ¥
for name, accuracy in results.items():
    print(f"{name} Accuracy: {accuracy:.4f}")

Decision Tree Accuracy: 0.9418
Random Forest Accuracy: 0.9630
AdaBoost Accuracy: 0.9610
Gradient Boosting Accuracy: 0.9645